<!doctype html>
<html ng-app="myApp">
<head>
    <title>NEWS List</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/ngAlertify.js"></script>

    <!-- okeyNav -->
    <link rel="stylesheet" href="./css/okayNav.min.css" media="screen">
    <script src="./js/jquery.okayNav.js"></script>

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/table.css">

    <script src="./controller/newsList.js"></script>
    <script src="./services/core.js"></script>
</head>
<body ng-controller="newsController">
    <header id="header">
        <nav role="navigation" id="nav-main" class="okayNav">
            <ul>
                <li><a href="/news">NEWS</a></li>
                <li><a href="/newsList">NEWS List</a></li>
                <li><a href="/patients">Patients List</a></li>
                <li><a href="/send">Send Message</a></li>
                <li><a href="/user">Register User</a></li>
                <li><a href="/users">Users List</a></li>                                        
            </ul>
        </nav>
    </header>

    </br>

    <main>

        <h1>Self-measured NEWS List</h1>

       <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>
              <a href="#" ng-click="sortType = 'cpr'; sortReverse = !sortReverse">
                CPR 
                <span ng-show="sortType == 'cpr' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'cpr' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'firstname'; sortReverse = !sortReverse">
              Firstname
                <span ng-show="sortType == 'firstname' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'firstname' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'lastname'; sortReverse = !sortReverse">
              Lastname 
                <span ng-show="sortType == 'lastname' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'lastname' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'score'; sortReverse = !sortReverse">
              NEWS Score 
                <span ng-show="sortType == 'score' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'score' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'respiration'; sortReverse = !sortReverse">
              Respiration Rate 
                <span ng-show="sortType == 'respiration' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'respiration' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'oxygenSat'; sortReverse = !sortReverse">
              Oxygen Saturation 
                <span ng-show="sortType == 'oxygenSat' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'oxygenSat' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'oxygen'; sortReverse = !sortReverse">
              Any Supplement Oxygen
                <span ng-show="sortType == 'oxygen' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'oxygen' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'temperature'; sortReverse = !sortReverse">
              Temperature
                <span ng-show="sortType == 'temperature' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'temperature' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'systolic'; sortReverse = !sortReverse">
              Systolic BP
                <span ng-show="sortType == 'systolic' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'systolic' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'heartRate'; sortReverse = !sortReverse">
              Heart Rate 
                <span ng-show="sortType == 'heartRate' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'heartRate' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>       
            <td>
              <a href="#" ng-click="sortType = 'consciousness'; sortReverse = !sortReverse">
              Level of Consciousness 
                <span ng-show="sortType == 'consciousness' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'consciousness' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>                                               
          </tr>
        </thead>
        
        <tbody>
          <tr ng-repeat="news in newsList | orderBy:sortType:sortReverse | filter:searchFish">
            <td>{{ news.cpr }}</td>
            <td>{{ news.firstname }}</td>
            <td>{{ news.lastname }}</td>
            <td class="spanData">{{ news.score }}</td>
            <td>{{ news.respiration }}</td>
            <td>{{ news.oxygenSat }}</td>
            <td>{{ news.oxygen }}</td>
            <td>{{ news.temperature }}</td>
            <td>{{ news.systolic }}</td>
            <td>{{ news.heartRate }}</td>
            <td>{{ news.consciousness }}</td>
            <td><button type="submit" ng-click="deleteNews(this.news._id)" class="buttonRed"/>Delete</button></td>    
          </tr>
        </tbody>
      </table>

  </main>
<script>
  var navigation = $('#nav-main').okayNav();
</script>
</body>
</html>
