<!doctype html>
<html ng-app="myApp">
<head>
    <title>Register bruger</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/ngAlertify.js"></script>

    <!-- okeyNav -->
    <link rel="stylesheet" href="./css/okayNav.min.css" media="screen">
    <script src="./js/jquery.okayNav.js"></script>

    <link rel="stylesheet" href="../../css/style.css">
    <script src="./controller/registerUser.js"></script>
    <script src="./services/core.js"></script>
</head>
<body ng-controller="userController">
    <header id="header">
        <nav role="navigation" id="nav-main" class="okayNav">
            <ul>
              <li><a href="/">Hjem</a></li>
              <li><a href="/news">Registrere BOS</a></li>
              <li><a href="/newsList">BOS Liste</a></li>
              <li><a href="/user">Ny bruger for mobilen</a></li>      
              <li><a href="/users">Bruger liste</a></li>                                         
            </ul>
        </nav>
    </header>

    </br>

    <main>
      <h1>Opret en ny bruger for den mobile applikation.</h1>
      <form class="user">
          <div class="add">
              <input type="text" id="employeeId" name="employeeId" placeholder="Medarbejder ID" ng-model="input.employeeId" required />
              <input type="text" id="firstname" name="firstname" placeholder="Fornavn" ng-model="input.firstname" required/>
              <input type="text" id="lastname" name="lastname" placeholder="Efternavn" ng-model="input.lastname" required/>
              <input type="text" id="email" name="email" placeholder="Email" ng-model="input.email" required/>
              <input type="text" id="phone" name="phone" placeholder="Phone" ng-model="input.phone" required/>
              <input type="text" id="role" name="role" placeholder="Rolle" ng-model="input.role" />
              <input type="text" id="org" name="org" placeholder="Organisation" ng-model="input.org" />

              <input type="text" id="username" name="username" placeholder="Brugernavn" ng-model="input.username" required/>
              <input type="password" id="password" name="password" placeholder="Password" ng-model="input.password" required/>

              <button type="submit" class="button" ng-click="register()"/>Opret Bruger</button> </br>
          </div>
      </form>
    </main>
<script>
  var navigation = $('#nav-main').okayNav();
</script>
</body>
</html>
