* { box-sizing:border-box }
*:before, *:after { box-sizing:inherit }

html { font-size: 62.5%; -webkit-tap-highlight-color: rgba(0,0,0,0); font-family: @font-family-base; }

body { font-family: 'Roboto', sans-serif !important; font-size: 1.4em !important; line-height: 1.42857143 !important; color: #555 !important; background-color: #f7f7f7 !important; }

a { text-decoration: none; color: #1b89bf; }

ul { margin: 0; padding: 0; list-style: none; }

main { padding: 30px !important; }

h1 { font-family: "Roboto" !important; text-align: left !important; }
p { margin: 0px; padding: 0px; font-size: 15px; display: inline-block; }

form { margin: 0; }

input {  height: 30px; width: 200px; margin-bottom: 10px; padding-left: 5px; outline: none !important; border: 1px solid #bababa !important; box-shadow: none !important; }
input:disabled { background-color: #f3f3f3; }
input[type=email]:focus, input[type=text]:focus, input[type=password]:focus, textarea:focus { outline: none !important; border: 1px solid #000 !important; box-shadow: none !important; }
textarea { min-width: 200px; padding-left: 5px; min-height: 100px; border: 1px solid #bababa !important; }

select { display: inline; width: 200px; height: 28px; overflow: hidden; background-color: white; background-color: #fff !important; margin-bottom: 10px; }

input[type=submit] { width: 210px; height: 45px;  background-color: #bababa; color: #fff; text-transform: uppercase; border-radius: 0px; border: none !important; font-size: 11px; letter-spacing: 2px; }
input[type=submit]:hover { background-color: #fff; color: #bababa; border: 1px solid #bababa !important; }
input[type=submit]:disabled { background-color: #bababa; color: #fff; border: 1px solid #bababa; }
.disabled { background-color: #f7f7f7;}

.patient input { width: 150px; }
.add { display: table-caption; }
.add input { width: 200px; }
.labelForm { min-width: 200px; display: -webkit-inline-box; }

.buttons { }
.button { margin-top: 10px; background-color: #1b89bf; color: #fff; border: none; font-family: Roboto, Georgia; font-size: 14px; text-decoration: none; padding: 10px 20px 10px 20px; }
.button:hover { background: #bababa; color: #fff; }

.deleteButton { margin-left: 55px; color: Red; text-decoration: none; }
.deleteButton:hover { color: #666666; }

.updateButton { margin-left: 5px; color: #1b89bf; text-decoration: none; }
.updateButton:hover { color: #666666; }


.alert-success{ border: 1px solid #25ff81; background-color: #a1ffc9; color: #31aa64; padding: 20px;}
.spanData { color: Red; }

.error { margin-left: 100px; color: Red;}

.name { float: left; width: 200px; }
